 h1 {
    color: blue;
  }
  
  table {
    background-color: lightgrey
}

  td {
      background-color: whitesmoke;
      text-align: center;
  }
  
  th {
      background-color: white;
  }
  

  